@using System.Reflection
@using AdminPanel.Components.Pages.Auth
@using Microsoft.AspNetCore.Components.Authorization

<Router AppAssembly="@(Assembly.GetExecutingAssembly())">
    <Found Context="routeData">
        <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
            <NotAuthorized>
                @if (context.User.Identity?.IsAuthenticated == true)
                {
                    <p>У вас нет прав для доступа к этому ресурсу.</p>
                }
                else
                {
                    <Login />
                }
            </NotAuthorized>
            <Authorizing>
                <p>Проверка авторизации...</p>
            </Authorizing>
        </AuthorizeRouteView>
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(MainLayout)">
            <p>Извините, такой страницы нет.</p>
        </LayoutView>
    </NotFound>
</Router>

